/* Navbar */
.custom-navbar{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.327);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}

/* navbar links */
.nav-link-css {
  font-weight: 550;
  color:black;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.551);
}

/* Navbar's links when Active and hovered   */
.link-active {
  background-color: #4053bd ;
  color: rgb(217, 217, 217) !important;
}

.nav-link-css:hover  {
  background-color: #4053bd;
}

body{
  background-color: #f5f5f5; 
}
/* TRANSACTIONS */

/* options for transactions sorting and filtering */
.customize-transactions-options button{
  background-color: #c8c8c8	;
  box-shadow: 0px 0px 3px #161616;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 650;
  transition: all 0.2s ease-in-out;
}

.customize-transactions-options button:hover{
   background-color: #949494;
}

/* transaction type(income or expense) */
.transaction-type{
  font-size: 15px;
}

/* transaction card (contains details of transaction) */
 .transaction-card{
   color: white;
   background-color: #171922;
   border-radius: 16px;
}

/* transaction card options */
.transaction-card-options{
  font-size: 14px;
  color: rgb(178, 178, 255) !important;
}

/* transaction date added */
.transaction-date{
  font-size: 14px;
}

/* transaction category */
.transaction-category{
  font-size: 18px;
}

/* transaction description */
.transaction-description{
  font-size: 15px;
  color: rgb(217, 217, 217);
}

/* btn to view transaction summary */
.transaction-overview-btn:hover{
    opacity: 0.7;
}

/* Animations */
.transaction-overview-popup{
  animation: popup-animation 0.5s ;
}

.transaction-filter-silde-panel{
  animation: slide-panel-animation 0.5s ease-in-out ;
}

/* slide panel that contains filter for transactions */
.transaction-filter-silde-panel{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top:0;
}

/* category/amount option */
.transaction-category-option{
  color: rgb(82, 82, 82); 
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  box-shadow: 0px 0px 3px rgb(175, 175, 175);
  transition: 0.2s all ease-in-out;
  user-select: none;
}

/* applied when the option is selected */
.highlight-filter-option{
background-color: #7895b6;
color: white; 
}

.transaction-category-option:hover{
  cursor: pointer;
}

/* loader */
.loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #2d2d2d;
      animation: prixClipFix 3s linear infinite ;
    }
    
    
    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }
    
    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
/* animation classes */
@keyframes popup-animation {
  from{
    opacity: 0;
    transform: scaleX(1) scaleY(0) scaleZ(0);
    
  } 
  to {
    opacity: 1;
    transform: scaleX(1) scaleY(1) scaleZ(1);
  }
}

/* (top to bottom) */
@keyframes slide-panel-animation {
  from{

    transform: translateY(-100%) ;


  } 
  to {

    transform: translateY(0) ;
  }
}

/* Mobile and Tablet devices */
@media (max-width: 768px){
  /* remove written content and use onlt icons */
  .nav-link-css span{
    display: none;
  }
  /* nav links */
  .nav-link-css{
    border-radius: 50px !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    padding: 7px 10px !important;
  }
  /* remove margin when fron link's icon */
  .nav-icon{
    margin-right: 0px !important;
  }
  
  /* website logo */
  .expenza-logo img{
      height:50px;
      width:150px
  }
    /* transaction options(sort, filter, etc) */
  .customize-transactions-options p{
    font-size: 13px;
}

/* transaction type(income or expense) */
.transaction-type{
  font-size: 14px;
}
/* transaction category */
.transaction-category{
  font-size: 16px;
}

/* transaction card options */
.transaction-card-opt{
  font-size: 14px;
  color: rgb(178, 178, 255) !important;
}

/* transaction date added */
.transaction-date{
  font-size: 14px;
}

/* transaction description */
.transaction-description{
  font-size: 14px;
  color: rgb(217, 217, 217);
}
/* transaction heading */
.transaction-card-heading{
font-size: 14px;
}

}


/* Small mobiles */
@media (max-width: 320px){
  /* remove written content and use onlt icons */
   .nav-link-css span{
    display: none;
  }

  /* nav links */
  .nav-link-css{
    border-radius: 50px !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    padding: 4px 6px !important;
  }

  /* remove margin when fron link's icon */
  .nav-icon{
    margin-right: 0px !important;
  }
  
  /* website logo */
  .expenza-logo img{
      height:50px;
      width:100px
  }

  .customize-transactions-options button{
    padding: 5px;
    border: black 1px solid;
  }

  /* transaction options(sort, filter, etc) */
  .customize-transactions-options p{
    display: none;
}
.transactions-options-icon{
  margin-right: 0px !important;
}
/* transaction heading */
.transaction-card-heading{
font-size: 12px;
}
}