/* Navbar */
.custom-navbar{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.327);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}

/* navbar links */
.nav-link-css {
  font-weight: 550;
  color:black;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.551);
}

/* Navbar's links when Active and hovered   */
.link-active {
  background-color: #4053bd ;
  color: rgb(217, 217, 217) !important;
}

.nav-link-css:hover  {
  background-color: #4053bd;
}

body{
  background-color: #f5f5f5; 
}
/* TRANSACTIONS */

/* options for transactions sorting and filtering */
.customize-transactions-options button{
  background-color: #c8c8c8	;
  box-shadow: 0px 0px 3px #161616;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 650;
  transition: all 0.2s ease-in-out;
}

.customize-transactions-options button:hover{
   background-color: #949494;
}

/* transaction type(income or expense) */
.transaction-type{
  font-size: 15px;
}

/* transaction card (contains details of transaction) */
 .transaction-card{
   color: white;
   background-color: #171922;
   border-radius: 16px;
}

/* transaction card options */
.transaction-card-opt{
  font-size: 14px;  color: rgb(178, 178, 255) !important;
}

/* transaction card options */
.transaction-card-options{
  font-size: 14px;
  color: rgb(178, 178, 255) !important;
}

/* transaction date added */
.transaction-date{
  font-size: 14px;
}

/* transaction category */
.transaction-category{
  font-size: 18px;
}

/* transaction description */
.transaction-description{
  font-size: 15px;
  color: rgb(217, 217, 217);
}

/* btn to view transaction summary */
.transaction-overview-btn:hover{
    opacity: 0.7;
}

/* Animations */
.transaction-overview-popup{
  animation: popup-animation 0.5s ;
}

.delete-confirmation-popup{
  animation: popup-animation 0.3s ;

}

.transaction-filter-silde-panel{
  animation: slide-panel-animation 0.5s ease-in-out ;
}

/* slide panel that contains filter for transactions */
.transaction-filter-silde-panel{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top:0;
}

/* category/amount option */
.transaction-category-option{
  color: rgb(82, 82, 82); 
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  box-shadow: 0px 0px 3px rgb(175, 175, 175);
  transition: 0.2s all ease-in-out;
  user-select: none;
}
.transaction-category-option:hover{
  cursor: pointer;
}

.transaction-form-dropdown{
  background-color:rgb(210, 210, 210);
  box-shadow: 0px 0px 3px rgb(186, 186, 186);
}

.transaction-form-input-container{
  outline: 3px rgb(157, 181, 218) solid;
  height: 45px;
}

.dropdown-item-transac{
  color: black !important;
  
}

/* applied when the option is selected */
.highlight-filter-option{
  background-color: #7895b6;
  color: white; 
}

/* email and password input */
.email-input, .password-input{
  outline: 3px rgb(157, 181, 218) solid;
  width: 300px;
  height: 50px;
  transition: all 1s;
}

/* login to account button */
.login-btn{
  width: 300px;
  background-color: #717fcc;
  font-size: 20px;
}
/* button to submit a transaction */
.submit-transaction-btn{
  background-color: #717fcc;
  font-size: 20px;
}

.login-btn:hover{
  background-color: #868fc3;
}
.submit-transaction-btn:hover{
  background-color: #868fc3;
}
/* login form */
.login-form{
  width: 400px;
  height: 400px;
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #2d2d2d;
  animation: prixClipFix 3s linear infinite ;
}


@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
/* animation classes */
.profile-view-popup{
  animation: popup-animation 0.5s ease-in-out;
}

@keyframes popup-animation {
  from{
    opacity: 0;
    transform: scaleX(1) scaleY(0) scaleZ(0);
    
  } 
  to {
    opacity: 1;
    transform: scaleX(1) scaleY(1) scaleZ(1);
  }
}

/* (top to bottom) */
@keyframes slide-panel-animation {
  from{
    
    transform: translateY(-100%) ;
    
    
  } 
  to {
    
    transform: translateY(0) ;
  }
}

/* notification popup */
.notification-popup{
  position: fixed;
  min-height: 45px;
  min-width: 280px;
  max-width: 320px;
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  box-shadow: 0px 0px 3px #000000;
  animation: notification-popup-animation 0.7s ease-in-out;
  z-index: 10000;
  top: 100px;
  right: 50%;
  transform: translateX(50%);
}
@keyframes notification-popup-animation {
  from{
    opacity: 0;
    transform:  translateX(50%) translateY(-100%);
  } 
  to {
    opacity: 1;
    transform: translateX(50%) translateY(0);
  }
}


/* each setting section(privacy, personal info, etc) of account setting */
.account-setting-section{
  width: 30%;
  box-shadow: 0px 1px 4px rgb(180, 180, 180);
  background-color:rgb(239, 239, 239) ;
}

/* setting option */
.setting-individual-option, .setting-individual-option button{
  background-color: rgba(125, 125, 125, 0.03);
}

/* Mobile and Tablet devices */
@media (max-width: 768px){
  /* remove label  and use only icons for some links in navbar*/
  .nav-link-css span{
    display: none;
  }
  /* keep label for '/login' link*/
  .nav-login-label{
    display: inline !important;
  }
  /* nav links */
  .nav-link-css{
    border-radius: 50px !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    padding: 7px 10px !important;
  }
  /* remove margin when fron link's icon */
  .nav-icon{
    margin-right: 0px !important;
  }
  

  /* keep margin for login */
  .nav-icon-login{
    margin-right: 5px !important;
  }
  /* website logo */
  .expenza-logo img{
      height:50px;
      width:150px
  }
    /* transaction options(sort, filter, etc) */
  .customize-transactions-options p{
    font-size: 13px;
}

/* transaction type(income or expense) */
.transaction-type{
  font-size: 14px;
}
/* transaction category */
.transaction-category{
  font-size: 16px;
}


/* transaction date added */
.transaction-date{
  font-size: 14px;
}

/* transaction description */
.transaction-description{
  font-size: 14px;
  color: rgb(217, 217, 217);
}
/* transaction heading */
.transaction-card-heading{
font-size: 14px;
}
.form-input-dropdown-btn span{
  display: none;
}

/* each setting section(privacy, personal info, etc) of account setting */
.account-setting-section{
  width: 95%;
}
}



/* Small mobiles */
@media (max-width: 320px){
  /* remove written content and use onlt icons */
   .nav-link-css span{
    display: none;
  }

  /* nav links */
  .nav-link-css{
    border-radius: 50px !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    padding: 4px 6px !important;
  }

  /* remove margin when fron link's icon */
  .nav-icon{
    margin-right: 0px !important;
  }
  
  /* website logo */
  .expenza-logo img{
      height:50px;
      width:100px
  }

  .customize-transactions-options button{
    padding: 5px;
    border: black 1px solid;
  }

  /* transaction options(sort, filter, etc) */
  .customize-transactions-options p{
    display: none;
}
.transactions-options-icon{
  margin-right: 0px !important;
}
/* transaction heading */
.transaction-card-heading{
font-size: 12px;
}

.login-form{
  width: 250px;
  height: 400px;
}
.email-input, .password-input{
     width: 200px;
     font-size: 15px;
}

/* login to account button */
.login-btn{
  width: 200px;
  background-color: #717fcc;
  font-size: 20px;
}
}